<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% if dark == True %}

    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css"> {% else %}
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css"> {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>MovieKit</title>
    <link rel="icon" href="https://png.icons8.com/the-dragon-team/ios7/16/2c3e50">
</head>

<body>
    <div class="container">
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <img src="https://png.icons8.com/the-dragon-team/ios7/72/2c3e50">
            </div>
            <div class="col-lg-11">
                <h1>MovieKit</h1>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-4">
                        <p class="lead">The Movie Recommendation System</p>
                    </div>
                    <div class="col-lg-8">
                            <ul class="breadcrumb">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Adventure</a></li>
                               
                                    <li><a href="#">Comedy</a></li>
                                    <li><a href="#">Crime</a></li>
                              
                                    <li><a href="#">Drama</a></li>
                                    <li><a href="#">Fantasy</a></li>
                                    
                                    <li><a href="#">Mystery</a></li>
                                
                                    <li><a href="#">Romance</a></li>
                                    <li><a href="#">Sci-fi</a></li>
                                    
                                    <li><a href="#">Thriller</a></li>
                                    
                                  </ul>
                        </div>
           
    
        </div>
     
        
        <div class="row well">
            {% include 'search.html' %}
             

        </div>
 
 
        <div class="row">
            <div class="col-lg-6">
                {% include 'table_watched.html' %}
            </div>
            <div class="col-lg-6">
                {% include 'table_predicted.html' %}
            </div>
        </div>
    </div>
</body>

</html>