<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>MovieKit</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="jumbotron text-center">
            <img src="https://png.icons8.com/the-dragon-team/ios7/108/2c3e50">
            <h1>MovieKit</h1>
            <p class="lead">The Movie Recommendation System</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg">Get Recommendation</a>
            <a class="btn btn-default btn-lg">Sentiment Analysis</a>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 20%"></div>
            <div class="progress-bar progress-bar-info" style="width: 20%"></div>
            <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
            <div class="progress-bar progress-bar-danger" style="width: 20%"></div>
            <div class="progress-bar progress-bar-primary" style="width: 20%"></div>
        </div>
    </div>
</body>

</html>